body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, #ffe5d9 0%, #ffd7ba 50%, #fec89a 100%);

}

h1 {
  text-align: center;
  margin-top: 20px;
  color: black;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;

}

.AppHeader{
  text-align: center;
  font-weight: bolder;
}

.AppHeader h1{
  font-size: 3rem;
  color: #1e3f2b;
}

.AppHeader h2{
  color: #2c4d39;
}
